<div >
  <h1>Login</h1>
  <form fxLayout="column" fxLayoutAlign="space-around center">
    <div fxLayout="row" fxLayoutAlign="space-around center">
      <p fxFlex>
        <mat-form-field appearance="legacy">
          <mat-label>Benutzername</mat-label>
          <input matInput placeholder="Benutzername">
        </mat-form-field>
      </p>
      <div style="width: 10px;"></div>
      <p fxFlex>
        <mat-form-field appearance="legacy">
          <mat-label>Password</mat-label>
          <input matInput placeholder="Benutzername" type="password">
        </mat-form-field>
      </p>
    </div>

    <div fxLayout="row" fxLayoutAlign="space-around center">
      <button mat-raised-button>Login</button>
      <button mat-button>Abbrechen</button>
    </div>


  </form>
</div>
