<div style="width: 700px;">
  <h1>Login</h1>
  <form fxLayout="row" fxLayoutAlign="space-around center">
    <p fxFlex>
      <mat-form-field appearance="legacy">
        <mat-label>Benutzername</mat-label>
        <input matInput placeholder="Benutzername">
      </mat-form-field>
    </p>
    <p fxFlex>
      <mat-form-field appearance="legacy">
        <mat-label>Password</mat-label>
        <input matInput placeholder="Benutzername" type="password">
      </mat-form-field>
    </p>
  </form>
</div>
